<p>
  <%- form.label("slides") %><br />
  <%- form.input("slides") %>
</p>
<p>
  <%- form.label("uri") %><br />
  <%- form.input("uri") %>
</p>
<p>
  <%- form.label("title") %><br />
  <%- form.input("title") %>
</p>
